*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#1F3F61;
}
.buttonreset{
  display:flex;
  justify-content: center;
}
#buttons{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5rem;
  margin-top:11em;
}
body{
  height:100vh;
}
.name{
  background-color:cornsilk;
  width:200px;
  height:200px;
  border-radius:50%;
  display:grid;
  place-content:center;
}
span{
  font-size:5em;
}
.reset{
  font-size:1.7rem;
  padding:1rem;
  border-radius:30px;
}
.resultcontainer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:3rem;
  padding:2rem;
}

