/* *{
  margin:0;
  padding:0;
  box-sizing:border-box;
} */
body{
  background-color:whitesmoke;
  height:100vh;
}
.buttonreset{
  display:flex;
  justify-content: center;
}
#buttons{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:5rem;
  margin-top:11em;
}
.name{
  background-color:rgb(0, 0, 0);
  width:200px;
  height:200px;
  border:solid;
  border-radius:50%;
  display:grid;
  place-content:center;
}
.reset{
  font-size:1.7rem;
  padding:1rem;
  border-radius:30px;
}
.resultcontainer{
  text-align:center;
  font-size:3rem;
  padding:2rem;
}
span{
  font-size:5em;
}



