
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
body{
    height:100vh;
    background-color: #C9DBEE;
    display:flex;
    justify-content: center;
    align-items:center;
}
.card{
    min-height:40vh;
    min-width:60vw;
    max-height:1000vh;
    max-width:80vw;
    box-shadow: 0 10px 10px 10px rgba(100,255,255,0.3);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:space-around;
    border-radius: 30px;
    background-color: #112a46;
    gap:2rem;
}
.card_upper{
    height:65%;
    width:100%;
    display: flex;
    justify-content: center;
}
.card_quote{
    height:100%;
    width:90%;
    border-radius: 10px;
    font-size: 3rem;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Serif Pro', serif;
}
.card_lower{
    display:flex;
    justify-content: space-around;
}
button{
    width:100px;
    height:50px;
    border-radius: 10px;
    background-color:mediumturquoise;
    font-size:1rem;
    font-family: 'Source Serif Pro', serif;
}