html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color:black;
  color:white;
  margin:1.25em;
}
button{
  margin:.25rem
}
div{
  display:flex;
/*   //align-content:center; */
  justify-content: center;
}
#red{
  height:100px;
  width:100px;
  background-color:red;
}
#yellow{
  height:100px;
  width:100px;
  background-color:yellow;
}
#green{
  height:100px;
  width:100px;
  background-color:green;
}
#clear{
  height:100px;
  width:100px;
  background-color: white;
  margin-top:3rem;
  margin-left:47vw;
}